* {
  margin: 0;
  padding: 0;
  font-weight: 300;
}

body {
  font-family: "Roboto", sans-serif;
  background: white;
  max-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

:root {
  --wave-max-height: 50%;
}

.recorder {
  width: 225px;
  border-radius: 40px;
  height: 50px;
  background-color: gainsboro;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  margin: 10px 0;
}

.display-flex {
  display: flex;
}

.player {
  width: 100%;
}

.response {
  align-items: center;
  margin-left: 12px;
  font-size: 14px;
}

.response i {
  margin-right: 5px;
}

.check {
  color: green;
}

.cross {
  color: red;
}

.audio-recorder {
  display: flex;
  align-items: center;
  width: 100%;
}

.display-none {
  display: none;
}

.microphone,
.cancel {
  font-size: 20px;
}

.recordBtn,
.cancelBtn {
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.cancelBtn {
  margin-right: 14px;
  color: red;
}

.recordBtn.recording {
  color: red;
}

@keyframes animate {
  50% {
    height: 20%;
  }

  100% {
    height: var(--wave-max-height);
  }
}

.boxContainer {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 20px 10px;
}

.box {
  height: 10%;
  width: 4px;
  background: #333;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  border-radius: 8px;
}

.boxContainer.box-animate .box {
  height: var(--wave-max-height);
  animation-name: animate;
}

.box1 {
  animation-delay: 0s;
}

.box2 {
  animation-delay: 0.2s;
}

.box3 {
  animation-delay: 0.4s;
}

.box4 {
  animation-delay: 0.8s;
}

.box5 {
  animation-delay: 0.6s;
}

.box6 {
  animation-delay: 0.3s;
}

.box7 {
  animation-delay: 0.1s;
}

.box8 {
  animation-delay: 0.5s;
}

.box9 {
  animation-delay: 0.7s;
}

.box10 {
  animation-delay: 0.15s;
}

.box11 {
  animation-delay: 0.75s;
}

.box12 {
  animation-delay: 0.35s;
}

.box13 {
  animation-delay: 0.65s;
}

.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  bottom: 120%;
  left: 50%;
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
