* {
  margin: 0;
  padding: 0;
  font-weight: 300;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  background: white;
  max-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

p {
   font-size: 1.6rem;
}

:root {
  --wave-max-height: 50%;
}

.recorder {
  width: fit-content;
  border-radius: 4rem;
  height: 5.4rem;
  background-color: #F1F3F4;
  display: flex;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 1rem 0;
}

.audio-player {
   margin-bottom: 2.4rem;
}

.display-flex {
  display: flex;
}

.player {
  width: 100%;
}

.remainingQuestionTime {
   font-size: 1.8rem;
}

.audioTime {
  font-size: 1.6rem;
  margin-right: 1rem;
}

.response {
  align-items: center;
  margin-left: 1.2rem;
  font-size: 1.4rem;
}

.response i {
  margin-right: 0.5rem;
}

.check {
  color: green;
}

.cross {
  color: red;
}

.audio-recorder-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
}

.audio-recorder {
  display: flex;
  align-items: center;
  width: 0;
  opacity: 0;
  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.audio-recorder-animate {
  animation-name: animate-width;
}

@keyframes animate-width {
  0% {
    width: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    width: 18.5rem;
    opacity: 1;
  }
}

.spinner {
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

.display-none {
  display: none;
}

.microphone,
.cancel {
  font-size: 2rem;
}

.font-size-20 {
  font-size: 2rem;
}

.width-100 {
  width: 100%;
}

.recordBtn,
.cancelBtn {
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.cancelBtn {
  margin-right: 0.4rem;
  padding: 1rem;
  color: red;
}

.recordBtn {
  padding: 1rem;
}

.recordBtn.recording {
  color: green;
}

@keyframes animate {
  50% {
    height: 20%;
  }

  100% {
    height: var(--wave-max-height);
  }
}

.boxContainer {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  padding: 2rem 0.5rem;
}

.box {
  height: 10%;
  width: .4rem;
  background: #333;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  border-radius: .8rem;
}

.boxContainer.box-animate .box {
  height: var(--wave-max-height);
  animation-name: animate;
}

.box1 {
  animation-delay: 0s;
}

.box2 {
  animation-delay: 0.2s;
}

.box3 {
  animation-delay: 0.4s;
}

.box4 {
  animation-delay: 0.8s;
}

.box5 {
  animation-delay: 0.6s;
}

.box6 {
  animation-delay: 0.3s;
}

.box7 {
  animation-delay: 0.1s;
}

.box8 {
  animation-delay: 0.5s;
}

.box9 {
  animation-delay: 0.7s;
}

.box10 {
  animation-delay: 0.15s;
}

.box11 {
  animation-delay: 0.75s;
}

.box12 {
  animation-delay: 0.35s;
}

.box13 {
  animation-delay: 0.65s;
}

.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 12rem;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: .5rem 0;
  border-radius: .6rem;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  bottom: 85%;
  left: 50%;
  margin-left: -6rem; /* Use half of the width (120/2 = 60), to center the tooltip */
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
